{% load static %}
{% block main %}
<h1 style="color: green;">Edurup School Of Business</h1>

<div style="background-color: rgb(39, 38, 38);" class="container-fluid">
    <div class="row p-3">
        <div class="col-xl">
            <button class="btn btn-success bg-dark " style="margin-left: 93%;">Chat With Us</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h1 class="p-5" style="color:  rgb(161, 209, 207)">India's only business school <br> for the startup leaders of <br>
                tomorrow!</h1>
            <h4 class="p-5" style="color:  rgb(161, 209, 207)">By the alumni of <span style="color: chocolate;">Harvard Business
                    School and <br> Kellogg School of Management</span> </h4>
            <button class="btn btn-success bg-success m-3 "
                style="width: 500px; color: black; border-radius: 10px;">Attend info session</button>

        </div>
        <div class="col-sm bg-light m-1 " style="border-radius: 20px;">
            <h1 class="p-5">Talk to Admission Counsellor</h1>
            <h3>Your Topic of Interest <span style="color: red;">*</span></h3>
            <div class="row">
                <div class="col-sm"> <input type="checkbox" name="" id="" style="border-radius: 20px;"> Software
                    Development</div>
                <div class="col-sm"> <input type="checkbox" name="" id="" style="border-radius: 20px;"> Data Scince & ML
                </div>
            </div>
            <hr>
            <br>
            <div class="form-group">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Email">
                    </div>
                    <div class="row">
                        <div class=" form-group col-2">
                            <select id="countryCode" name="countryCode">
                                <option value="">+91</option>
                                <option value="+1">USA (+1)</option>
                                <option value="+44">UK (+44)</option>
                                <option value="+91">India (+91)</option>
                                <option value="+86">China (+86)</option>
                                <!-- add more options as needed -->
                            </select>
                        </div>
                        <div class="col-10">
                            <div class="form-group">
                                <input type="text" id="mobile_code" class="form-control" placeholder="Phone Number"
                                    name="name">
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <button class="btn btn-success bg-danger m-3 " style="width: 500px; border-radius: 10px;">Continue Booking
                Live Class</button>
        </div>
    </div>
    <br><br>
    <div class="m-5">
        <h1 style="color:  rgb(161, 209, 207); text-align: center;">Backed by the entrepreneurial leaders of today</h4>
        <h4 style="color:  rgb(161, 209, 207); text-align: center;"> The startup ecosystem comes together to build a new age <span style="color: chocolate;">startup focused</span>  business school</p> 
    </div>
    <br>
    <div class="row p-5" style="color: rgb(161, 209, 207);">
        <div class="col">
            <img src="static/image/522523-ratan-tata-1.jpg" alt="Description of the image" style="border-radius: 50%; width: 220px; ">
            <br>
            Kunal Shah
            <br>
            <i class="fa-regular fa-credit-card"></i>
            CRED
        </div>
        <div class="col">
            <img src="static/image/522523-ratan-tata-1.jpg" alt="Description of the image" style="border-radius: 50%; width: 220px; ">
            <br>
            Vidit Aatrey
            <br>
            <i class="fa-solid fa-envelope"></i>
            meesho
        </div>
        <div class="col">
            <img src="static/image/522523-ratan-tata-1.jpg" alt="Description of the image" style="border-radius: 50%; width: 220px;">
            <br>
            Abhiraj Bahl
            <br>
            <i class="fa-solid fa-building"></i>
            uc Urban Company
        </div>
        <div class="col">
            <img src="static/image/522523-ratan-tata-1.jpg" alt="Description of the image" style="border-radius: 50%; width: 220px; ">
            <br>
            Varun Khaitan
            <br>
            <i class="fa-solid fa-building"></i>
            uc Urban Compony
        </div>
        <div class="col">
            <img src="static/image/522523-ratan-tata-1.jpg" alt="Description of the image" style="border-radius: 50%; width: 220px;">
            <br>
            Mekin M
            <br>
            <i class="fa-sharp fa-regular fa-cart-shopping"></i>
            Flipkart
        </div>
    </div>
    
</div>

{% endblock main %}